:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}

.contact-us-container {
  width: 100vw;
  padding: 40px;
  background-color: var(
    --platinum
  ); /* Platinum background for the form container */
}

.contact-us-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-us-header h1 {
  font-size: 3rem;
  color: var(--orange-web); /* Black for the header */
}

.form-section {
  max-width: 600px;
  margin: 0 auto;
}

.form-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--oxford-blue); /* Black for form section title */
}

.form-section p {
  text-align: center;
  margin-bottom: 40px;
  color: var(--oxford-blue); /* Black for form description */
}

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid var(--platinum); /* Platinum border */
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Trebuchet MS";
  background-color: var(--white); /* White background for input fields */
}

.form-section .submit-button {
  width: 100%;
  padding: 12px;
  background-color: var(--oxford-blue); /* Orange for the submit button */
  border: none;
  color: var(--white); /* White text */
  font-size: 1.2rem;
  border-radius: 5px;
  font-family: "Trebuchet MS";
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-section .submit-button:hover {
  background-color: var(--orange-web); /* Black on hover */
}

.faq-section {
  margin-top: 50px;
}

.faq-section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--oxford-blue); /* Black for FAQ title */
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  font-size: 1.5rem;
  color: var(--orange-web); /* Black for FAQ questions */
}

.faq-item p {
  font-size: 1rem;
  color: var(--black); /* Black for FAQ answers */
}
