:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}

/* Footer Container */
.footer {
  width: 100vw;
  height: max-content;
  background-color: var(
    --oxford-blue
  ); /* Oxford Blue for the footer background */
  color: var(--white); /* White text */
  text-align: left;
}

/* Inner container for layout */
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

/* Each column in the footer */
.footer-column {
  flex: 1;
  margin: 40px 20px;
  min-width: 220px; /* Ensures the columns stack on smaller screens */
}

.footer-column h3 {
  font-size: 1.2rem;
  color: var(--orange-web); /* Orange Web for column headings */
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-column p,
.footer-column ul,
.footer-column li {
  font-size: 0.9rem;
  color: var(--platinum); /* Platinum for text */
  line-height: 1.6;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column li:hover {
  color: var(--orange-web); /* Orange on hover */
  cursor: pointer;
}

.footer-column p {
  margin: 20px 0;
}

/* Footer bottom section */
.footer-bottom {
  max-height: 200px;
  padding-top: 1rem;
  text-align: center;
  background-color: var(--oxford-blue);
  font-size: 0.9rem;
  color: var(--platinum); /* Platinum for text in the footer bottom */
}

.footer-bottom p {
  font-size: 0.7rem;
  color: var(--platinum);
}

.footer-bottom a {
  color: var(--orange-web); /* Orange for footer links */
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    height: max-content;
  }

  .footer-column {
    margin-bottom: 20px;
  }
}
